.header{
  position: relative;
  &__parallax{
    height: 30rem;
    width: 100vw;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1)), url(./../../../../public/assets/images/homapage-banner-img.jpg);
    background-position: left;
    background-size: cover;
  }
  &__box{
    height: 30rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    h3{
      height: 2.5rem;
      font-size: 2.5rem;
      color: $white;
    }
  }
}