$shadow:rgba(51, 62, 65, 0.75);
$shadow2:rgba(51, 62, 65, 0.5);
$shadow3:rgba(51, 62, 65, 0.25);

$white: #FFF;
$white2: rgba(255, 255, 255, 0.75);
$white3: rgba(255, 255, 255, 0.50);
$white4: rgba(255, 255, 255, 0.25);

$grey:#282828;
$grey2: #353434;
$grey3:#353434;
$grey4: #444444;

$purple: #8121e0;
$purple2: #8021e046;
$purple3: #8021e0ae;